.guide {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content auto min-content;
    grid-template-areas: "header" "content" "footer";
    padding: 0.5rem;
}

.guide-header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: end;
}
.guide-content {
    grid-area: content;
}

.guide-footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: end;
}

