@page "/{*route:nonfile}"
@using Webefinity.Module.Pages.Services

@inject PageCacheService PageCacheService

@if (content is not null)
{
    <PageTitle>@this.title</PageTitle>
    <div>@((MarkupString)this.content)</div>
}
else
{
    <PageTitle>404 Not Found</PageTitle>
    <h1>404 Not Found</h1>
    <p>The page @Route was not found.</p>
}

@code {
    [Parameter]
    public string? Route { get; set; }

    private string? content = null;
    private string? title = null;

    public class PageFrontmatter
    {
        public string Route { get; set; } = string.Empty;
        public string? Title { get; set; } = null;
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var pageCacheResult = await PageCacheService.GetPageAsync(Route);
        if (pageCacheResult.Success)
        {
            content = pageCacheResult.Value.Content;
            title = pageCacheResult.Value.Title;
        }
        else
        {
            content = null;
            title = "Page not found.";
        }
    }
}