@using Cadence.UI.Components
@inherits BlockComponentBase<TextModel>
@attribute [BlockAttribute("md", "Markdown", "A block that renders markdown")]

@if (Model.Text is not null)
{
    <section class="gutter">
        <Markdown Md="@Model.Text" />
    </section>
}

@code {

}
