@inherits BlockComponentBase<TextModel>
@attribute [BlockAttribute("md", "Markdown", "A block that renders markdown")]

@if (Model.Text is not null)
{
    <section class="gutter">
        <Cadence.UI.Components.Markdown Md="@Model.Text" />
    </section>
}

@code {

}
