@inherits BlockComponentBase<TextModel>
@attribute [BlockAttribute("md", "Markdown", "A block that renders markdown")]

@if (Model.Text is not null)
{
    <div class="for-reading">
        <Cadence.UI.Components.Markdown Md="@Model.Text" />
    </div>
}

@code {

}
